<div class="board-container">
  <div class="board">
    @foreach (var item in _squares)
    {
      <Square Model="item" ClickAction="SquareClicked" />
    }
  </div>
  <div class="cta-bar">
    <button @onclick="(e => StartNew(false))">Neues Einzelspiel</button>
    <button @onclick="@(e => StartNew(true))">Neues Spiel gegen den Computer</button>
  </div>
</div>

@if (_game.Winner != null) {
  <div>Player @_game.Winner.Value has won</div>
}